body {
    background-color: rgb(255,156,91);
    margin: 0px;
}

#painting
{
    height: 600px;
    background-image: url(default.jpg);
    background-size: cover;
    background-position: bottom;
} 

#login{
    display: inline-block;
    background-color: white;
    margin: 15% 35% 25% 35%;
    width: 30%;
    height: 70%;
    align-items: center;
    border-radius: 10px;
}

input [type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

#labels{
    padding: 30% 20% 30% 23%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

button{
    background-color: lightblue;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

#loginButton {
    text-align: center;
}

#createButton {
    text-align: center;
}

.sides{
    display: flex;
    flex-direction: row;
    object-fit: cover;
}
.leftside{
    display: inline-block;
    height: 820px;
    width: 690px;
    background-image: url(default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.rightside{
    display: inline-block;
    height: 690px;
    width: 690px;
    background-color: rgb(255,156,91);
}

#topbox{
    display: inline-block;
    height: 200px;
    width: 650px;
    background-color: white;
    margin-left: 45px;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    flex-direction: row;
    display: flex;
}

#middlebox{
    display: inline-block;
    height: 200px;
    width: 650px;
    background-color: white;
    margin-left: 45px;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    flex-direction: row;
    display: flex;
}

#bottombox{
    display: inline-block;
    height: 200px;
    width: 650px;
    background-color: white;
    margin-left: 45px;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    flex-direction: row;
    display: flex;
}

#heart {
    position: absolute;
    width: 5%;
    bottom: 0;
    right: 0;
    padding-right: 4%;
}

#gear {
    padding: 2%;
    position: fixed;
    bottom: 0;
    width: 5%;
}

select{
    text-align: center;
    margin-top: 5%;
    margin-left: 21%;
    padding: 2%;
    font-size: 100%;
    font-family: serif;
    width: 400px;
    border-radius: 15px;
}

.picBox1{
    width: 170px;
    height: 170px;
    margin: 15px;
    border-radius: 10px;
    background-image: url(eat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.picBox2{
    width: 170px;
    height: 170px;
    margin: 15px;
    border-radius: 10px;
    background-image: url(hiking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.picBox3{
    width: 170px;
    height: 170px;
    margin: 15px;
    border-radius: 10px;
    background-image: url(hotel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#rightInfo{
    font-family: serif;
    font-size: 50px;
    align-content: center;
    padding-left: 50px;
}

#middleInfo{
    font-family: serif;
    font-size: 50px;
    align-content: center;
    padding-left: 30px;
}

#topInfo{
    font-family: serif;
    font-size: 50px;
    align-content: center;
    padding-left: 50px;
}
