body {
    background-color: navy;
    margin: 0px;
}

#painting
{
    background-image: url(pexels-freestockpro-1008155.jpeg);
    background-size: cover;
    height: 700px;
} 

.login{
    background-color: white;
    margin: 15% 35% 25% 35%;
    width: 30%;
    height: 70%;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
}

input [type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

#labels{
    align-items: center;
}

button{
    background-color: lightblue;
    border-radius: 5px;
    
}