html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    background-color: rgb(255,156,91);
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: white;
    width: 25%;
    height: 100%;
    display: inline-block;
}

.right {
    background-color: rgb(255,156,91);
    width: 75%;
    height: 100%;
    display: inline-block;
}

.favContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 40%;
}

#navigation {
    padding-top: 10%;
    text-align: center;
    text-align: center;
    color: navy;
    font-size: 20px;
}

#clickables {
    padding-top: 100%;
}

.favCard{
    width: 90%;
    height: 45%;
    border-radius: 15px;
    background-color: white;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightCards {
    width: 32%;
    height: 100%;
    display: inline-block;
}

.middleCards {
    width: 32%;
    height: 100%;
    display: inline-block;

}

.leftCards {
    width: 32%;
    height: 100%;
    display: inline-block;
    margin-top: 3%;
}

button {
    background-color: white;
    border: 0px;
    border-radius: 15px;
    height: 100%
}

button:hover{
    background-color: lightgray;
}

a{
    text-decoration: none;
    color: navy
}